<div class="row justify-content-center">
  <div class="col-sm-8 my-2">
    <%= form_with url: games_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "What are you looking for"
      %>
      <%= submit_tag "Search", name: "", class: "btn btn-filter" %>
    <% end %>
  </div>
</div>


<div class="row justify-content-center mt-4">
  <%= render "shared/cards" %>
</div>
