@import "variables";

.fixed-navbar{
  position:sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: $main-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.my-custom-margin {
  margin-top: 10px;
}

.text-navbar {
  font-size: 22px;
}

#airgames-title{
  color: white;
  margin-right: 500px;
}

.img-fluid{
  color: white;
}

.fa-chess-queen{
  color: white;
  font-size: 30px;
}

.fa-chess-queen a{
  text-decoration: none;
}
