@import "variables";

.fixed-navbar{
  position:sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.my-custom-margin {
  margin-top: 10px;
}

.text-navbar {
  font-size: 22px;
}

#airgames-title{
  color: $main-color;
  margin-right: 500px;
}

.img-fluid{
  color: $main-color;
}

.fa-fire-flame-curved{
  color: $main-color;
  font-size: 30px;
  padding-right: 20px;
  text-decoration: none !important;
  margin-top: 20px;
  margin-left: 20px;
}

.logo-title{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
